---
const listCards = [
    {
        icon: "/icons/coins.svg",
        tittle: "A base de monedas",
        description:
            "Deja que nuestra lavadora calcule la cantidad justa que debes pagar.",
    },
    {
        icon: "/icons/bottle.svg",
        tittle: "Usa productos de calidad",
        description:
            "Puedes usar nuestros detergentes y suavizantes de mejor calidad.",
    },
    {
        icon: "/icons/internet.svg",
        tittle: "Tenemos zona coworking",
        description:
            "Mientras esperas, ¡no perderás el tiempo! Usa nuestra zona de coworking.",
    },
];
---

<section class="info-section">
    {
        listCards.map((card) => (
            <div class="card-container">
                <img src={card.icon} />
                <h2>{card.tittle}</h2>
                <p>{card.description}</p>
            </div>
        ))
    }
</section>

<style>
    .info-section {
        padding: 0px 100px;
        margin-top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .card-container {
        width: 280px;
        height: 375px;
        box-shadow: 0px 4px 48px 0px #00000040;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 40px;
        color: #276e90;
        padding: 50px;
    }

    .card-container h2 {
        font-weight: 400;
    }

    .card-container img {
        width: 160px;
        height: 150px;
        margin-bottom: 40px;
    }
</style>
