---

---

<nav>
    <div>
        <h2>LavaTodo</h2>
        <ul>
            <a href="/servicios"><li>¿Cómo funciona?</li></a>
            <a href="#"><li>Contáctanos</li></a>
        </ul>
    </div>
</nav>

<style>
    nav {
        position: absolute;
        top: 0;
        width: 100%;
    }

    nav div {
        padding: 0px 100px;
        display: flex;
        justify-content: space-between;
        color: white;
        font-size: 30px;
    }

    nav div ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
        align-items: center;
    }

    nav a {
        text-decoration: none;
        color: white;
    }
</style>
