---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>LavaTodo</title>
    </head>
    <body>
        <slot />
        <Footer />
    </body>
</html>

<style is:global>
    html,
    body {
        margin: 0;
        padding: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    /* * {
        border: 1px solid red !important;
    } */
</style>
